{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <title>Document</title>
</head>

<body>
    <header id="header-page">
        <h1>Hello from this wonderful index.html!</h1>
        <!-- <img src="https://en.touhouwiki.net/images/c/c9/Sanae_Whos_Who.png" alt="Sanae" width="500"> -->
        <img src="{% static 'image/Sanae_Whos_Who.png' %}" alt="Sanae" width="400">
    </header>

</body>

</html>