body {
    background-color: antiquewhite;
}

#header-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Tangerine", serif;
    color: rgb(54, 11, 94);
    font-size: 4rem;
}


#images-header>img {
    width: 30vw;
}